:root {
  --branding-color: #908bee;
  --first-color: #250731;
  --secondary-color: #c0c093;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  color: black;
  font-weight: bold;
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
  line-height: 1.5;
  color: var(--first-color);
}
h2 {
  font-size: 64px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.content {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3{font-size: 24px;
line-height: 1;
font-family: var(--default-font-family);
}
.content p{font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 6px;
  color: rgb(197, 228, 242);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-decription {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-decription {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
}
.emoji {
  font-size: 50px;
  display: inline-block;
  animation: shake 1.5s ease-in-out infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  75% {
    transform: translateX(5px) rotate(5deg);
  }
}
